
@{
    Layout = null;
    ViewBag.Title = "_Edit";
}
<div class="filter-box">
    <input type="text" id="inputEdit" class="form-control" value=""/>
    <textarea class="form-control" rows="4" id="areaEdit" placeholder="最多100字"></textarea>
</div>
