
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateJob</title>
</head>
<body>
<form id="form1" action="@Url.Action("CreateJob","JobManagement")" method="post">
    <div>
        <p style="margin-left: 100px">
            <br />
            JobName：&nbsp;&nbsp;
            <input type="text" id="JobName" name="JobName" Width="214px" />
        </p>
        <p style="margin-left: 100px">
            <br />
            JobGroupName：&nbsp;&nbsp;
            <input type="text" id="JobGroupName" name="JobGroupName" Width="214px" />
        </p>
        <p style="margin-left: 100px">
            <br />
            TriggerName：
            <input type="text" id="TriggerName" name="TriggerName" Width="214px" />
        </p>
        <p style="margin-left: 100px">
            <br />
            TriggerGroupName：
            <input type="text" id="TriggerGroupName" name="TriggerGroupName" Width="214px" />
        </p>
        <p style="margin-left: 100px">
            <br />
            RequestUrl：
            <input type="text" id="RequestUrl" name="RequestUrl" Width="214px" />
        </p>
        <p style="margin-left: 100px">
            <br />
            Cron：
            <input type="text" id="Cron" name="Cron" Width="214px" />
        </p>
    </div>
    <div>
        <input type="submit" name="Create" Width="77px" style="margin-left: 400px"/>
    </div>
</form>
</body>
</html>
